# Data Merging Technique
- To integrate the data values
- To merge the data from different sources
- To merge the data from different formats
- To merge the data from different databases

### Methods used to Merge the Dataset:
- 1. Using simple merge method
- 2. Using Data Concatenation Method

***Import the Libraries***

In [1]:
#Import the libraries:
import pandas as pd
import numpy as np

In [3]:
#Make the set:
data_1 = {
    'id' : [1, 2, 3],
    'name' : ["Anas", "Ali", "Aslam"],
    'age' : [22, 24, 26]
}
df_1  = pd.DataFrame(data_1)
df_1
#Make the Dataset:
data_2 = {
    'id' : [1, 2, 3],
    'city' : ['Lahore', 'Karachi', 'Ismalabad'],
    'occupation' : ['Teacher', 'Lecturer', 'Lawyer']
}
df_2 = pd.DataFrame(data_2)
df_2

   id       city occupation
0   1     Lahore    Teacher
1   2    Karachi   Lecturer
2   3  Ismalabad     Lawyer

***Data Merge Technique***

In [5]:
#Merg the dataset on the base of id:
merged_df = pd.merge(df_1, df_2, on='id', how='inner')
#Print the data:
print(f"The data is merged: \n{merged_df}")

The data is merged:
   id   name  age       city occupation
0   1   Anas   22     Lahore    Teacher
1   2    Ali   24    Karachi   Lecturer
2   3  Aslam   26  Ismalabad     Lawyer

## Data Concatenation Technique

In [6]:
#Import the dataset:
import pandas as pd

In [7]:
#Make the dataset:
data_1 = {
    'Name' : ['Ahmad', 'Ali', 'Awais'],
    'Age' : [23, 25, 27]
}
#Make the other data:
data_2 = {
    'Name' : ['Afiq', 'Saad', 'Zain'],
    'Age' : [22, 24, 26]
}
#Make the other data:
data_3 = {
    'City' : ['Karachi', 'Lahore', 'Islamabad'],
    'Provances' : ['Sindh', 'Punjab', 'Faderal']
}
#Make the DataFrame 
df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)
df_3 = pd.DataFrame(data_3)

***Make the Concatenation of data***

In [9]:
#Concatenate the rows:
concatenated_rows = pd.concat([df_1, df_2, df_3])
#Concatenate the Columns:
concatenated_columns = pd.concat([df_1, df_2, df_3], axis=1)
#Print rows:
print(f"The Merge Data with Rows: \n{concatenated_rows}")
print("-----------------------")
#Print the columns:
print(f"The Merge Data in Columns: \n{concatenated_columns}")

The Merge Data with Rows:
    Name   Age       City Provances
0  Ahmad  23.0        NaN       NaN
1    Ali  25.0        NaN       NaN
2  Awais  27.0        NaN       NaN
0   Afiq  22.0        NaN       NaN
1   Saad  24.0        NaN       NaN
2   Zain  26.0        NaN       NaN
0    NaN   NaN    Karachi     Sindh
1    NaN   NaN     Lahore    Punjab
2    NaN   NaN  Islamabad   Faderal
-----------------------
The Merge Data in Columns:
    Name  Age  Name  Age       City Provances
0  Ahmad   23  Afiq   22    Karachi     Sindh
1    Ali   25  Saad   24     Lahore    Punjab
2  Awais   27  Zain   26  Islamabad   Faderal